CAL_DB_URL=jdbc:postgresql://localhost:5433
CAL_DB_NAME=calorie_tracker
CAL_DB_USER=postgres
CAL_DB_PASSWORD=PostgresPassword

PGADMIN_EMAIL=admin@naumen.com
PGADMIN_PASSWORD=admin123

CAL_REDIS_HOST=localhost